bcrypt==3.2.0
fastapi==0.68.0
uvicorn==0.14.0
requests==2.26.0
SQLAlchemy==1.4.23
fastapi_utils==0.2.1
pytz==2021.1
pytest==6.2.2
pytest-asyncio==0.18.1
black==21.5b1
fastapi-camelcase==1.0.5
PyJWT==2.3.0